body {
    background-color: #A2C1E0;
    align-items: center;
    max-width: 900px;
    margin: auto;
}

h1 {
    font-family: "Helvetica", "Arial", sans-serif;
    font-weight: bold;
    font-size: 6rem;
    color: #FFFFFF;
    text-align: center;
}

